@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>University of Phayao ThaiD ASP.NET Core Sample</p>

    <p class="text-center mt-5">
        <a class="btn btn-primary" href="/api/thaid/auth">Login with ThaiD</a>
    </p>
</div>
